* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-page{
    height: 100px;
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
    background-size: 32%;
}

#logo-booleaner{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

#container{
    margin-left: 5px;
}

#title{
    margin-top: 15px;
}

#tim-photo{
    margin-top: 15px;
    font-size: 13px;
}

.text{
    margin-top: 15px;
}

.text2{
    margin-top: 30px;
}

#ul-text{
    padding-inline-start: 20px;
}

#table table{
    border-collapse: collapse;
    margin-top: 25px;
    text-align: left;
}

.table-box{
    width: 25%;
}


#interest-you{
    margin-top: 40px;
}

.footer-image{
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    width: 280px;
    height: 160px;
    color: #FFFFFF;
}

#footer-image1{
    background-image: url(img/monitor.jpg);

}

#footer-image2{
    background-image: url(img/graph.jpg);
    
}

#table-title{
    color: white;
    background-color: #20A9E5;

}

.tbody-box{
    background-color: #B1E5F2;

}

.grey-color{
    color: #828282;
}

.date{
    font-size: 13px;
}