* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo-page{
    height: 100px;
    background-color: #4EA0FF;
    background-image: url(img/pattern.png);
    background-size: 32%;
}

#logo-booleaner{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

#container{
    margin-top: 15px;
    margin-left: 5px;
}

.author{
    color: #828282;
}

.date{
    font-size: 13px;
}